
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content" role="main">
    <div class="shelf shelf_5">
        <h2 class="hdg hdg_1">Shopping List</h1>
    </div>
    <div class="shelf shelf_1">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Snack Name</th>
                    <th scope="col">Purchase Location</th>
                </tr>
            </thead>
            <tbody data-bind="foreach:alwaysOrdered">
                <tr>
                    <td data-bind="text:name"></td>
                    <td data-bind="text:purchaseLocations"></td>
                </tr>
            </tbody>
        </table>
    </div>


    @section scripts {
        <script type="text/javascript">

        function viewModel() {

            var self = this;

            self.alwaysOrdered = ko.observableArray([]);
            
            //TODO: load voted on for total up to 10
            $.getJSON("https://api-snacks.nerderylabs.com/v1/snacks?ApiKey=da39f072-4eaa-43ef-abd0-9c6c51a7cdb2")
            
            .done(function (snacks) {

                //var snacks = result1[0];
                console.log('snacks : ', snacks)
 
                for (var i = 0; i < snacks.length; i++) {
                    if (!snacks[i].optional) {
                        self.alwaysOrdered.push(snacks[i]);
                    }
                }

            })

        };

        ko.applyBindings(new viewModel());
        </script>
    }