
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content" role="main">
    <div class="shelf shelf_5">
        <h2 class="hdg hdg_1">Suggestions</h1>
    </div>
    <div class="shelf shelf_2">
        <div class="error isHidden">
            You have attempted to add more than the allowed number of suggestions per month!
            <br />There is a total of three allowed suggestions per month.
        </div>
        <div class="error isHidden">You have attempted to add a suggestion that already exists!</div>
        <div class="error isHidden">You have not completed information requested.</div>
    </div>
    <div class="content-centered">
        <div class="shelf shelf_2">
            <form method="" action="" class="form" novalidate>
                <fieldset class="shelf shelf_2">
                    <div class="shelf shelf_2">
                        <div class="shelf">
                            <label for="snackOptions">
                                <h2 class="hdg hdg_2">Select a snack from the list</h2>
                            </label>
                        </div>

                        <select name="snackOptions" id="snackOptions" data-bind="
                                options: snackOptions,
                                optionsText: 'name',
                                value: selectedOptional,
                                optionsCaption: 'Choose a Snack...'
                                 ">
                        </select>
                    </div>
                </fieldset>
                <div class="shelf shelf_5">
                    <p class="hdg hdg_1">or</p>
                </div>
                <fieldset class="shelf shelf_5">
                    <div class="shelf">
                        <label for="suggestionInput">
                            <h2 class="hdg hdg_2">Enter new snack suggestion &amp; purchasing location</h2>
                        </label>
                    </div>
                    <div class="shelf">
                        <input type="text" placeholder="Snack Suggestion" data-bind="value:newSnackName" />
                    </div>
                    <div class="shelf">
                        <label for="suggestionLocation" class="isHidden">Location</label>
                        <input type="text" placeholder="Location" class="" data-bind="value:newSnackLocation"/>
                    </div>
                </fieldset>
                <input type="button"  value="Suggest this Snack!" class="btn" data-bind="click:makeSuggestion">
            </form>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">

        //TOSO: refactor with promises to remove nesting of ajax calls

        //Suggested Refactor : for future creation etc should probably be done on server side so model validation etc can be leveraged... but using agile it was
        //faster to get working this way.
        var createNew = function (model) {

            $.ajax({
                url: "https://api-snacks.nerderylabs.com/v1/snacks?ApiKey=da39f072-4eaa-43ef-abd0-9c6c51a7cdb2",
                type: "POST",
                data: JSON.stringify({ name: model.newSnackName(), location: model.newSnackLocation() }),
                contentType: "application/json",
                dataType: "json",
                success: function (data) {
                    saveSuggestion(data.id);

                }
            });

        };

        var saveSuggestion = function (snackId) {
            
            $.ajax({
                url: "/api/SuggestionAPI",
                type: "POST",
                data: '"' + snackId + '"',
                contentType: "application/json",
                dataType: "json",
                success: function (data) {
                    window.location.replace("/");
                }
            });

        };
        
        var model = {
            snackOptions: ko.observableArray([]),
            selectedOptional : ko.observable([]),
            newSnackName: ko.observable(''),
            newSnackLocation: ko.observable(''),
            makeSuggestion: function () {
                if (this.newSnackName().length > 0 && this.newSnackLocation().length > 0) {
                    //create new
                    createNew(this);
                    //window.location.replace("/");
                }
                else {
                    saveSuggestion(this.selectedOptional().id);
                    //window.location.replace("/");
                }
            }
        };
            
        $.when(

            $.getJSON("https://api-snacks.nerderylabs.com/v1/snacks?ApiKey=da39f072-4eaa-43ef-abd0-9c6c51a7cdb2"),
            $.getJSON("/api/SuggestionAPI")

        ).done(function (result1, result2) {

            var snacks = result1[0];
            var suggestions = result2[0];


            for (var i = 0; i < snacks.length; i++) {
                if (snacks[i].optional && _.where(suggestions, { SnackId : snacks[i].id}).length < 1) { //TODO : remove snacks already suggested for the next month - add the date restriction
                    model.snackOptions.push(snacks[i]);
                }
            }

            console.log("model : ", model);

            ko.applyBindings(model);
        })
    </script>
}

